@model ProjetoEstagioSupDDD.MVC.Models.TipoProdutoViewModel

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>
<h3>Você realmente deseja exluir o tipo @Model.DescricaoTipo?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoTipo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-sm" /> |
            @Html.ActionLink("Voltar a lista de Tipos", "Index")
        </div>
    }
</div>
<hr />
