@model ProjetoEstagioSupDDD.MVC.Models.ServicoViewModel

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>
<h3>Você realmente deseja exluir o serviço @Model.DescricaoServico?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoServico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacaoServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacaoServico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorServico)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-sm" /> |

            @Ajax.ActionLink("Voltar a lista de Serviços", "Index", "Servicos",
               null, new AjaxOptions()
               {
                   HttpMethod = "get",
                   InsertionMode = InsertionMode.Replace
               })
        </div>
    }
</div>
<hr />
